footer a{
    color: var(--main-background-color);
}

footer{
    background-color: var(--secondary-background-color);
}

.container .footer-title{
    display: block;
font-size: 40px;
font-weight: 900;
padding-top: 95px;
padding-bottom: 30px;
}

.footer-communication .communication{
    padding-top: 30px;
    padding-bottom: 30px;
    
    &:nth-last-child(1){
    padding-bottom: 144px;
    }
}