:root{
    --title-color: #01996D;
    --secondary-title-color: #000;
    --main-background-color:#FFF; 
    --secondary-background-color:#245852;
    --text-color:#424242;
}

body{
    color: var(--text-color);
    background-color: var(--main-background-color);
}

ul,a{
    list-style: none;
    text-decoration: none;
}

.kayla.section{
    background-color: var(--secondary-background-color);
    color: var(--main-background-color);
}

footer{
    background-color: var(--secondary-background-color);
}

.title{
    color: var(--title-color);
}

.kayla .title{
    color: var(--main-background-color);
}

footer a{
    color: var(--main-background-color);
}

footer{
    color: var(--main-background-color);
}